/* Standaardcode (margin en padding resetten om ongewenste resultaten te voorkomen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: caviar-bold;
    src: url(fonts/CaviarDreams_Bold.ttf);
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 3em;
}

/* wrapper */
#wrapper{
    width: 80%;
    margin: auto;
}

/* Bovenbalk */
#menu{
    display: flex;
    justify-content: space-between;

    /* onderlijntje */
    padding-bottom: 1em;
    border-bottom: gray 2px solid;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 2em;
}

/* Menuitems visual */
nav li{
    list-style: none;
    margin-top: 1.5em;
}

nav li a{
    text-decoration: none;
    color: gray;
    font-size: large;
    font-variant: small-caps;
}

/* menuitems hover */
nav li a:hover{
    color: black;
    border-bottom: #9FFF45 5px solid;
}

/* eerste tekstblokje */
/* layout */
#parkchargevisit{
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

#parkchargevisit .tekst{
    width: 54%;
}

#parkchargevisit .afbeelding{
    width: 46%;
    display: flex;
    gap: 4%;
    margin-left: 2%;
}

#parkchargevisit .afbeelding img{
    width: 50%;
    height: auto;
}

/* button */
.button{
    background-color: lime;
    width: 35%;
    text-align: center;
    padding: 0.1em;
    margin-top: 1em;
    border-radius: 1em;
}

/* titels */
h2{
    font-family: caviar-bold;
    font-size: 3em;
    margin: 0.1em;
}

/* 2e tekstblokje */
.howitworks{
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 15%;
    padding-right: 15%;
}

.howitworks p{
    font-size: 1.5em;
    line-height: 1.8em;
}